node_modules
.env
.env.local
dist
build
.vercel
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
f:/rfp/deloitte files
deployment_log.txt
add_env_vercel.js
.env.vercel
backend/*.js
!backend/app.js
!backend/prismaClient.js
!backend/controllers/*.js
!backend/routes/*.js
!backend/middleware/*.js
!backend/utils/*.js
!backend/prisma/*.js

.vercel
